.grid{
    display: grid;
    place-items: center; /* Isso centraliza os itens horizontal e verticalmente */
    height: 100vh; /* Isso faz com que o contêiner ocupe toda a altura da janela */
}

.glass-card{
    width: 40%;
    height: 60%;

    backdrop-filter: blur(16px) saturate(189%);
    -webkit-backdrop-filter: blur(16px) saturate(189%);
    background-color: rgba(40, 36, 17, 0.63);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.glass-card p{
    color: var(--color-light);
    margin-bottom: 5px;
}

.glass-card h2{
    font-size: 4vmin;
    color: var(--color-pink);
}

.glass-card input {
    width: 400px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: var(--transition);
  }
  
  /* Estilizando o placeholder */
  .glass-card input::placeholder {
    color: #999;
  }
  
  /* Estilizando quando o input está em foco */
  .glass-card input:focus {
    border-color: var(--color-pink);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }